---
import Label from "../../components/admin/Label.astro";
import { tailwindCSS } from "../../data/adminConfigs.json";
---

<section id="tailwind-css">
  <h2>Tailwind CSS Configs</h2>

  <form
    class="flex flex-col gap-3"
    onsubmit="updateConfig('tailwindCSS', event)"
  >
    <button type="submit" class="submit-button">Save Changes</button>
  </form>
</section>
