---
import TypographyConfigs from "../../forms/admin/TypographyConfigs.astro";
import AstroConfigs from "../../forms/admin/AstroConfigs.astro";
import SpaConfigs from "../../forms/admin/SpaConfigs.astro";
---

<section class="px-4 pb-4 w-[87.5%] bg-gray-100">
  <h1>Admin Panel</h1>

  <TypographyConfigs />

  <AstroConfigs />

  <SpaConfigs />
</section>

<script src="../../scripts/admin/updateConfig.ts"></script>
