---
---

<section class="px-4 pb-4 w-[87.5%] bg-gray-100">
  <h1>Admin Panel</h1>

  <section id="typography">
    <h2>Typography</h2>
  </section>

  <section id="astro-configs">
    <h2>Astro Config Options</h2>
  </section>

  <section id="tailwind-css">
    <h2>Tailwind CSS Configs</h2>
  </section>

  <section id="spa">
    <h2>SPA</h2>

    <button onclick="enableSpa()"> Enable SPA Mode </button>

    <script is:inline>
      window.enableSpa = async () => {
        const response = await (await fetch("/api/spa")).json();

        console.log({
          response,
        });
      };
    </script>
  </section>
</section>
