---
import TypographyConfigs from "../../forms/admin/TypographyConfigs.astro";
---

<section class="px-4 pb-4 w-[87.5%] bg-gray-100">
  <h1>Admin Panel</h1>

  <TypographyConfigs />

  <section id="astro-configs">
    <h2>Astro Config Options</h2>
  </section>

  <section id="tailwind-css">
    <h2>Tailwind CSS Configs</h2>
  </section>

  <section id="spa">
    <h2>SPA</h2>

    <button> Enable SPA Mode</button>
  </section>
</section>

<script is:inline>
  const updateConfig = (key, event) => {
    event.preventDefault();

    const formdata = Object.fromEntries(new FormData(event.target));

    fetch("/api/config", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        [key]: formdata,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
      });
  };

  window.updateConfig = updateConfig;
</script>
