---
import Label from "./Label.astro";

const isInline = import.meta.env.DEV ? true : false;
---

<section class="px-4 pb-4 w-[87.5%] bg-gray-100">
  <h1>Admin Panel</h1>

  <section id="typography">
    <h2>Typography</h2>

    <form class="flex flex-col gap-3">
      <Label label="System Font">
        <input type="text" name="system-font" class="input-control" />
      </Label>

      <Label label="Google Font">
        <input type="text" name="google-font" class="input-control" />
      </Label>
    </form>
  </section>

  <section id="astro-configs">
    <h2>Astro Config Options</h2>
  </section>

  <section id="tailwind-css">
    <h2>Tailwind CSS Configs</h2>
  </section>

  <section id="spa">
    <h2>SPA</h2>

    <button onclick="enableSpa()"> Enable SPA Mode</button>

    <script {isInline}>
      window.enableSpa = async () => {
        const response = await (await fetch("/api/spa")).json();

        console.log(response);
      };
    </script>
  </section>
</section>

<script>

</script>
