---
import TypographyConfigs from "../../forms/admin/TypographyConfigs.astro";
import AstroConfigs from "../../forms/admin/AstroConfigs.astro";
import TailwindConfigs from "../../forms/admin/TailwindConfigs.astro";
import SpaConfigs from "../../forms/admin/SpaConfigs.astro";
---

<section class="px-4 pb-4 w-[87.5%] bg-gray-100">
  <h1>Admin Panel</h1>

  <TypographyConfigs />

  <AstroConfigs />

  <TailwindConfigs />

  <SpaConfigs />
</section>

<script is:inline>
  const updateConfig = (key, event) => {
    event.preventDefault();

    const formdata = Object.fromEntries(new FormData(event.target));

    fetch("/api/config", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        [key]: formdata,
      }),
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
      });
  };

  window.updateConfig = updateConfig;
</script>
