---
---

<aside>
  <h1>Admin Panel</h1>

  <nav>
    <a href="#typography">Typography</a>
    <a href="#astro-configs">Astro Configs</a>
    <a href="#tailwindcsss">Tailwind CSS</a>
    <a href="#spa">SPA</a>
  </nav>
</aside>
