---
import AdminLayout from "../layouts/AdminLayout.astro";
import Sidebar from "../components/admin/Sidebar.astro";
import AdminArea from "../components/admin/AdminArea.astro";
---

<AdminLayout>
  <main class="max-w-[1440px] mx-auto">
    <Sidebar />
    <AdminArea />
  </main>
</AdminLayout>
