---
import "../styles/global.scss";
import { Spa } from "astro-spa";
import { Font } from "astro-fonts";
import Head from "../components/Head.astro";
import { spa } from "../data/adminConfigs.json";
---

<html>
  <Head />

  <Font family="Montserrat" weights={[400]} local />

  <style
    define:vars={{
      "font-family": "Montserrat",
    }}
  >
    :root {
      font-family: var(--font-family), ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    }
  </style>

  <body>

  <a href="/">Home</a>

  <slot />

  {
    spa ? <Spa /> : <></>
  }
  </body>
</html>
