---
import { Font } from "astro-fonts";
import Head from "../components/Head.astro";
---

<html>
  <Head />

  <Font family="Montserrat" weights={[400]} local />

  <style
    define:vars={{
      "font-family": "Montserrat",
    }}
  >
    :root {
      font-family: var(--font-family), ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    }
  </style>

  <style
    lang="scss"
    set:html={(await import(`../styles/global.scss?v=${Math.random}`)).default}
  />

  <body>
    <slot />
  </body>
</html>
